.card {
  display: flex;
  flex-direction: column;
  width: 366px;
  text-decoration: none;
  border: none;
}
.card__photo { 
  height: 256px; 
}
.card__restaurant {
  line-height: 24px;
  color: $font_black;
  margin-top: 16px;
}
.card__cuisines {
  font-size: 16px;
  line-height: 21px;
  color: $font_grey;
  margin: 4px;
}
.card__time { 
  font-size: 13px;
  line-height: 21px;
  color: $font_black;
}